<notifier-container></notifier-container>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container-fluid">
        <div class="navbar-header">
            <h1>Cadastro de Pessoa</h1>
        </div>
        <nav class="collapse navbar-collapse col-md-4" id="navbarSupportedContent">
            <form class="form-inline">
                <button class="btn btn-outline-success" type="button" routerLink="/pessoa/lista">Home </button>
                <button class="btn btn-outline-success" type="button" routerLink="pessoa/form">Novo  Cadastro</button>
                <button class="btn btn-outline-success" type="button" routerLink="maps">Mapa de Pessoas Cadastradas</button>
            </form>
        </nav>
    </div>
</nav>

<router-outlet></router-outlet>
    